# =============== #
# Unity generated #
# =============== #
[Tt]emp/
[Oo]bj/
[Bb]uild
[Ll]ibrary/
sysinfo.txt
*.stackdump
 
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
[Ee]xported[Oo]bj/
.vs/
Ripple Effect/*.userprefs
Ripple Effect/*.csproj
Ripple Effect/*.pidb
Ripple Effect/*.suo
Ripple Effect/*.sln*
Ripple Effect/*.user
Ripple Effect/*.unityproj
Ripple Effect/*.booproj
 
# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
[Tt]humbs.db
Ripple Effect/Assets/Textures/Thumbs.db.meta
